
// Fonts
/* latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('IBM Plex Sans Bold'), local('IBMPlexSans-Bold'), url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYX9KVElMYYaJe8bpLHnCwDKjWr7AIFsdA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans'), local('IBMPlexSans'), url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYXgKVElMYYaJe8bpLHnCwDKhdHeFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('IBM Plex Sans Bold Italic'), local('IBMPlexSans-BoldItalic'), url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYX7KVElMYYaJe8bpLHnCwDKhdTmrINcdvfu.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans Italic'), local('IBMPlexSans-Italic'), url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYX-KVElMYYaJe8bpLHnCwDKhdTuF6ZJ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font Awesome
@import "~font-awesome/scss/font-awesome.scss";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html {
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  color: black;
  overflow-x: hidden;
  // background-color: dodgerblue;
  font-family: 'IBM Plex Sans', sans serif;
  font-size: 1.2rem;
  max-width: 100vw;
}

#navbar {
  background-color: #FFFFFFBB;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 100;
}

.sitename a {
  color: #000;
  font-weight: bold;
}

.sitename {
  padding: 10px;
  width: auto;
  float: left;
}

.sitelinks {
  float: right;
  margin-right: 30px;
}

.sitelinks a {
  color: #000;
}

.sitelinks ul li {
  display: inline-block;
  padding: 10px;
}

.mobile-menu {
  float: right;
  margin-right: 20px;
  padding: 10px;
  cursor: pointer;
}

.mobile-menu-links {
  background-color: #fff;
  margin-top: 50px;
  padding-top: 30px;
  text-align: center;
  padding-right: 30px;
  height: 100vh;
  position: fixed;
  right: 0;
}

.mobile-menu-links ul li {
  list-style: none;
  padding: 10px;
}

.flash-message {
  position: fixed;
  margin-top: 55px;
  margin-left: 5px;
  z-index: 100;
}

.flash-close {
  float: right;
  margin-left: 10px;
}

.no-padding {
  padding: 0;
}

.hero-container {
  height: 80vh;
}

.hero-image {
  background-image: url('../img/hero-image.jpg');
  background-size: cover;
  height: 80vh;
  width: 100vw;
  position: fixed;
  z-index: -10;
}

.hero-title {
  float: right;
  padding: 220px 20px 0px 0px;
  max-width: 100%;
}

.hero-subtitle {
  float: right;
  text-align: right;
  // padding: 30px 20px 0px 0px;
  clear: both;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  // white-space: nowrap; /* Keeps the content on a single line */
  margin: 60px 20px 0 0; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  max-width: 100%;
}

h1, h2.hero-image {
  font-family: 'Source Code Pro', monospace;
  color: black;
  background-color: #fff;
  padding: 6px;
  clear: both;
  width: auto;
}

.upload-form {
  background-color: aliceblue;
}


.output {
  text-align:center;
  font-family: 'Source Code Pro', monospace;
  color: black;
  h1 {
    font-size:30px;
  }
}

/* Cursor Styling */

.cursor::after {
  content:'';
  display:inline-block;
  margin-left:3px;
  background-color: black;
  animation-name:blink;
  animation-duration:0.5s;
  animation-iteration-count: infinite;
}
h1.cursor::after {
  height:24px;
  width:13px;
}
p.cursor::after {
  height:13px;
  width:6px;
}

@keyframes blink {
  0% {
    opacity:1;
  }
  49% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

.front-blurb-container {
  background-image: linear-gradient(to bottom right, #4552FF, #7BF3D8);
  padding-top: 50px;
  padding-bottom: 130px;
}

.front-blurb-background {
  background-color: #F8FAFC;
  -webkit-transform: rotate(-7deg);
  transform: rotate(-7deg);
  height: 220px;
  margin-top: -133px;
  width: 120%;
  margin-left: -20px;
}

.row.front-blurb-text {
  z-index: 20;
  position: relative;
  color: #fff;
  padding-top: 70px;
  padding-bottom: 100px;
}

.front-upload-card {
  box-shadow: 0 0 20px 2px #444;
  color: #000;
}

.front-second-container {
    min-height: 60vh;
    margin-top: -100px;
    background-color: #F8FAFC;
    z-index: 20;
    position: relative;
    padding-top: 50px;
    padding-bottom: 100px;
}

.front-second-background {
  background-color: darkgoldenrod;
  -webkit-transform: rotate(-7deg);
  transform: rotate(-7deg);
  height: 220px;
  margin-top: -133px;
  width: 120%;
  margin-left: -20px;
  z-index: 30;
}

.gold {
    font-weight: bold;
    color: goldenrod;
    text-shadow: 0 0 5px gold;
}

.front-golden-container {
    min-height: 60vh;
    margin-top: -100px;
    background-image: linear-gradient(120deg, darkgoldenrod -45px, gold);
    z-index: 20;
    position: relative;
    padding-top: 150px;
    padding-bottom: 210px;
    z-index: 40;
    width: 120%;
    left: -10%;
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
}

.golden-body {
  -webkit-transform: rotate(7deg);
  transform: rotate(7deg);
}

.front-golden-background {
  background-color: #F8FAFC;
  -webkit-transform: rotate(-7deg);
  transform: rotate(-7deg);
  height: 220px;
  margin-top: -133px;
  width: 120%;
  margin-left: -20px;
  z-index: 40;
}

.front-terms-container {
    min-height: 60vh;
    margin-top: -100px;
    background-color: #F8FAFC;
    z-index: 60;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

.front-message-container {
  background-image: linear-gradient(to bottom right, #4552FF, #7BF3D8);
  padding-top: 50px;
  padding-bottom: 130px;
  margin-top: -100px;
}

.row.front-message-text {
  z-index: 20;
  position: relative;
  color: #fff;
  padding-top: 250px;
  padding-bottom: 100px;
}

.message-card {
  box-shadow: 0 0 20px 2px #444;
  color: #000;
}

.footer-container {
  background-color: #4552FF;
  min-height: 150px;
  padding-top: 50px;
  margin-top: -25px;
}
